<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>report - {{ title }}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="../css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="../css/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]><link rel="stylesheet" href="{{ niscripts }}/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    {% endblock head %}
  </head>
  <body >
    <div class="container">
    	<div class="span-24" id="header">
    		<h1>Report Page - {{ title }}</h1>
    		{% if links %}
    		  <hr />|
      		{% for name,link in links.iteritems() %}
      		    <a href="{{ link }}">{{ name }}</a> | 
      		{% endfor %}
    		{% endif %}
    		<hr />
    	</div>
    	
    	<div class="span-6 last" id="sidebar">
  	    <div id="page-links">
          <h3 class="caps">Page Links</h3>
          <div class="box">
            {#{% for subject,subject_content in subjects %}
              <a href="#{{ subject }}">{{ subject }}</a>
      	    {% endfor %}
      	    #}
          </div>
  	    </div>
    	</div>

      <div class="span-17 colborder" id="content">
        {% for label,content in anat.iteritems() %}
          <h3 class="loud" id="anat_{{ label }}">Anatomical - {{ label }}</h3>
          {% for name,location in content %}
            <h4>{{ name }}</h4>
            <p><img src="{{ location }}" alt="{{ name }}"></p>
          {% endfor %}
        {% endfor %}
        <hr />
        {% for label,content in reg.iteritems() %}
          <h3 class="loud" id="anat_{{ label }}">Registration - {{ label }}</h3>
          {% for name,location in content %}
            <h4>{{ name }}</h4>
            <p><img src="{{ location }}" alt="{{ name }}"></p>
          {% endfor %}
        {% endfor %}
        <hr />
        {% for label,content in motion.iteritems() %}
          <h3 class="loud" id="anat_{{ label }}">Motion - {{ label }}</h3>
          {% for run,run_content in content.iteritems() %}
            <h4>Run {{ run }}</h4>
            <p>
              <em>Max Absolute Motion:</em> {{ run_content.abs }} mm 
              <br />
              <em>Max Relative Motion:</em> {{ run_content.rel }} mm
              <br />
              <img src="{{ run_content.disp }}" alt="displacement">
            </p>
          {% endfor %}
        {% endfor %}
      </div>
      
    	<div class="span-24">
    		A Z Enterprise
    	</div>
    </div>
  </body>
</html>
