<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>report index - {{ title }}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    {% endblock head %}
  </head>

  <body onload="setupZoom()">
    <div class="container">
    	<div class="span-24" id="header">
    		<h1>Report Page - {{ title }}</h1>
    		<hr />
    	</div>
    	<div class="span-24" id="content">
        <ol>
          {% for subject,slink in subjects %}
              <li><a href="{{ slink }}">{{ subject }}</a></li>
          {% endfor %}
        </ol>
      </div>
      <div class="span-24" id="footer">
    		A Z Enterprise
    	</div>
    </div>
  </body>
</html>

