<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>report - {{ title }}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    
    <!-- Javascript Zoom -->
    <script src="js/FancyZoom.js" type="text/javascript"></script>
    <script src="js/FancyZoomHTML.js" type="text/javascript"></script>
    {% endblock head %}
  </head>
  <body onload="setupZoom()">
    <div class="container">
    	<div class="span-24" id="header">
    		<h1>Report Page - {{ title }}</h1>
    		{% if links %}
    		  <hr />|
      		{% for name,link in links %}
      		    <a href="{{ link }}">{{ name }}</a> | 
      		{% endfor %}
    		{% endif %}
    		<hr />
    	</div>
    	
    	<div class="span-6 colborder" id="sidebar">
  	    <div id="page-links">
          <h3 class="caps">Anatomical</h3>
          <div class="box">
            {% for label in anat %}
              <a href="#anat_{{ label }}">{{ label }}</a>
              <br />
            {% endfor %}
          </div>
          <h3 class="caps">Registration</h3>
          <div class="box">
            {% for label in reg %}
              <a href="#reg_{{ label }}">{{ label }}</a>
              <br />
            {% endfor %}
          </div>
          <h3 class="caps">Motion</h3>
          <div class="box">
            {% for label in motion %}
              <a href="#motion_{{ label }}">{{ label }}</a>
              <br />
            {% endfor %}
          </div>
  	    </div>
    	</div>

      <div class="span-17 last" id="content">
        {% for label,content in anat.iteritems() %}
          <h3 class="loud" id="anat_{{ label }}">Anatomical - {{ label }}</h3>
          {% for name,location in content %}
            <h4>{{ name }}</h4>
            <p><a href="{{ location }}"> 
               <img src="{{ location }}" alt="{{ name }}" width="100%">
            </a></p>
          {% endfor %}
        {% endfor %}
        <hr />
        {% for label,content in reg.iteritems() %}
          <h3 class="loud" id="reg_{{ label }}">Registration - {{ label }}</h3>
          {% for name,location in content %}
            <h4>{{ name }}</h4>
            <p><a href="{{ location }}">
                <img src="{{ location }}" alt="{{ name }}" width="100%">
            </a></p>
          {% endfor %}
        {% endfor %}
        <hr />
        {% for label,content in motion.iteritems() %}
          <h3 class="loud" id="motion_{{ label }}">Motion - {{ label }}</h3>
          {% for run,run_content in content %}
            <h4>Run {{ run }}</h4>
            <p>
              <em>Max Absolute Motion:</em> {{ run_content.abs }} mm 
              <br />
              <em>Max Relative Motion:</em> {{ run_content.rel }} mm
              <br />
              <a href="{{ run_content.disp }}">
                  <img src="{{ run_content.disp }}" alt="displacement">
              </a>
              <br />
              <a href="{{ run_content.outlier }}">
                <img src="{{ run_content.outlier }}" alt="outliers">
              </a>
            </p>
          {% endfor %}
        {% endfor %}
      </div>
      
    	<div class="span-24">
    		A Z Enterprise
    	</div>
    </div>
  </body>
</html>
