# Contrast & F-tests mode
# real : control real EVs
# orig : control original EVs
set fmri(con_mode_old) orig
set fmri(con_mode) orig

{% for con_name,con in contrasts.iteritems() %}
    {% set con_num = loop.index %}
    
    # Display images for contrast_{{ con_type }} {{ con_num }}
    set fmri(conpic_{{ con_type }}.{{ con_num }}) 1

    # Title for contrast_{{ con_type }} {{ con_num }}
    set fmri(conname_{{ con_type }}.{{ con_num }}) "{{ con_name }}"
    
    {% for i in range(nevs) %}
        {% set ii = i + 1 %}
        # Real contrast_{{ con_type }} vector {{ con_num }} element {{ ii }}
        set fmri(con_{{ con_type }}{{ con_num }}.{{ ii }}) {{ con[i] }}
    {% endfor %}
    
    {% for i in range(nftests) %}
        {% set ii = i + 1 %}
        # F-test {{ ii }} element {{ con_num }}
        set fmri(ftest_{{ con_type }}{{ ii }}.{{ con_num }}) {{ ftests[i][con_num] }}
    {% endfor %}    
{% endfor %}

